body{
    background-color: black;
}
#botao{
    width: 200px;
    height: 100px;
    font-size: 40px;
    background-color: white;
    color: black;
    font-family: Apple Chancery, cursive;
    cursor: pointer;
}
.conteudo{
    text-align: center;
}
#lampada{
    width: 500px;
}